@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
}

body{
    height: 100dvh;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: hsl(233, 47%, 7%);
}

.container{
    width: 100%;
    max-width: 1100px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(244, 37%, 16%);
    border-radius: 5px;
}

.content{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
}

h1{
    color: hsl(0, 0%, 100%);
}

h1 span{
    color: hsl(277, 64%, 61%);
}

ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}

ul li span{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.5rem;
}

ul li{
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}

.img{
    position: relative;
    height: 100%;
    width: 50%;
    object-fit: cover;
    display: block;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(277, 64%, 61%);
  mix-blend-mode: multiply;
  opacity: 0.75;
  pointer-events: none;
}

.attribution{
    text-align: center;
}

@media (max-width: 1000px) {
  .container{
    flex-direction: column-reverse;
    width: 60dvw;
    width: min(90%, 400px);
  }
  .img{
    width: 100%;
  }
  .content{
    padding: 2rem;
    width: 100%;
    align-items: center;
  }
  ul{
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }
  ul li{
    text-align: center;
  }
  h1,p{
    width: 80%;
    text-align: center;
  }
}