@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}

.container {
  display: flex;
  width: 40%;
  height: 60%;
  max-width: 700px;
  max-height: 500px;
  border-radius: 10px;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: space-evenly;
}

.img {
  width: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  all: unset;
  background-color: hsl(158, 36%, 37%);
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  color: hsl(0, 0%, 100%);
}

button:hover,button:focus {
  transform: scale(1.05);
  background-color: hsl(158, 42%, 18%);
}

button img {
  width: 1em;
  height: 1em;
  margin-right: 0.5rem;
}

h1,
.price {
  font-family: "Fraunces", serif;
}

.caption {
  text-transform: uppercase;
}

h1{
    line-height: 0.9;
    color: hsl(212, 21%, 14%);
}

p{
    color: hsl(228, 12%, 48%);
}

.price{
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}

.price span{
    color: hsl(228, 12%, 48%);
    font-size: 1rem;
    text-decoration: line-through;
}

.attribution {
  text-align: center;
  color: hsl(212, 21%, 14%);
}

.attribution a {
  color: hsl(212, 21%, 14%);
}

@media(max-width:1800px){
    .container{
        width: 60%;
        height: 70%;
    }
}

@media(max-width:900px){
    body{
        height: 100vh;
        width: 100%;
    }
    .container{
        flex-direction: column;
        width: 70%;
        height: 100%;
        min-height: 800px;
    }

    .content,.img{
        width: 100%;
    }

    .content{
        gap: 2rem;
        justify-content: space-evenly;
    }

    .img{
        min-height: 150px;
    }
}